venv/
taylor_swift_articles_30d.json
taylor_swift_mastodon_humans.json
scripts/api/mastodonapi.py
taylor_swift_articles_30d2.json
scraping-env/
taylor_swift_sub_5-20.json
nme_taylor_swift_articles.json
hotpot_mini_all_sources.jsonl
qa_eval_all_sources.jsonl
qa_eval_set_ollama.jsonl
scraped_output/
db-venv/
test.txt
data/ 
RAG/__pycache__
RAG/chroma_storage
Data_ingestion/scrape_log.txt
Data_ingestion/tmz_taylor_20250623_1218.json
Data_ingestion/taylor_swift_guardian_articles.json
__pycache__
../__pycache__/
.venv/
RAG/.env
.env
RAG/vector_log.log
scripts/api/sza_tweets_51.json
xapify.py
xapi.py
testRun/
RAG/scrapper.py
RAG/hotpot_grouped_multidoc.jsonl
RAG/hotpot_predictions_ids.jsonl
RAG/batch_eval.py
sad